*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 100%; // 1rem = 10px
  @media only screen and (max-width: $bp-small) {
    font-size: 80%;
  }
}
.v-main {
  padding-top: 0 !important;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: $color-teal-medium;
  color: $color-white-pure;
}
