/* Applly this class when its childrens are list-items and we don't want bullets*/
.noBullets {
  li {
    list-style: none;
  }
}

/* By default Vuetify links are styled, to apply black color to them , use this class */

/*******************************************************************/

.no-word-break {
  word-break: keep-all;
}
.btn {
}
.btn-medium {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  margin:1rem 0.5rem;
}
.btn-small {
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
}
.btn-large {
}
.btn-pinkviolet {
  background-color: $color-pinkviolet-dark;
  color: $color-white-pure;
  &:hover {
    background-color: darken($color-pinkviolet-dark, 2);
  }
}
.btn-teal {
  background-color: $color-teal-dark;
  color: $color-white-pure;
  &:hover {
    background-color: darken($color-teal-dark, 2);
  }
}
.btn-back-to-courses {
}

.vhl-list {
  padding-bottom: 0.5rem !important;
}
.vhl-item {
  padding: 0.7rem 0.5rem !important;
}


.form-icon{
  transform: translateX(-4rem);
}

.v-application a{
  text-decoration: none;
  color:#000
}