/*COLORS*/
$color-white-pure : #fff;
$color-black-pure:#000;
$color-teal-dark:#00695C;
$color-golden: #FFD700;
$color-teal-medium:#009688;
$color-teal-light:#80CBC4;
$color-grey-dark:#424242;
$color-grey-medium: #757575;
$color-grey-light:#E0E0E0;
$color-pinkviolet-dark:#D500F9;
$color-pinkviolet-medium:#E040FB;
$color-pinkviolet-light:#EA80FC;
$color-violet-dark:#8E24AA;
$color-violet-medium:#CE93D8;
$color-violet-light:#E1BEE7;
$color-skyblue-dark:#1E88E5;
$color-skyblue-medium:#42A5F5;
$color-skyblue-light:#90CAF9;
$color-orange-dark:#EF6C00;
$color-orange-medium:#FFA726;
$color-orange-light:#FFCC80;
$color-tomato-dark:#F44336;
$color-tomato-medium:#EF5350;
$color-tomato-light:#E57373;


  /*FONT*/
$default-font-size: 1rem;


/*GRID*/
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-horizontal: 3.75rem;

